<!DOCTYPE html>
<html lang="en" ng-app="dragNTorrent">
<head>
    <meta charset="UTF-8">
    <title>dTorrent 0.0.2</title>
    <link rel="stylesheet" href="static/css/script.min.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <script src="static/js/script.min.js"></script>
</head>
<body ng-controller="MainCtrl">
    <header>
        <div class="pull-right">
            <a href="/logout" class="btn btn-dtorrent">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
        {{ title }} {{ user.username }} {{ user.token }}
    </header>

    <section class="loaded" ng-if="loaded_in_progress">
        <i class="fa fa-spinner fa-spin"></i>
    </section>

    <section class="noloaded" ng-if="!loaded_in_progress && !loaded_done">
        <p ng-if="connection_attempts < 5" ng-bind="noloaded_message"></p>
        <p ng-if="connection_attempts >= 5">
            N'abuse pas quand même !<br>
            <small>
                <time ng-bind="seconde_before_new_connect"></time> secondes avant nouvel essai
            </small>
        </p>
        <p>
            <button class="btn btn-primary btn-danger" ng-click="connect()" ng-if="connection_attempts < 5">Reconnect</button>
        </p>
    </section>

    <section ng-if="!loaded_in_progress && loaded_done">
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <div class="panel">
                    <div class="panel-heading">
                        <strong>Drag and drop yout torrent's files</strong>
                    </div>
                    <div class="panel-body">
                        <div class="pull-right">
                            <!--<button class="btn btn-dtorrent" ng-click=""><i class="fa fa-plus"></i> Ajouter</button>-->
                        </div>
                        <upload
                            style="clear:both"
                            tr-action="addTorrent(torrent)"
                            user-token="'{{ user.token }}'"
                            >
                        </upload>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4" ng-controller="connectionListenerController">
                <div class="panel">
                    <div class="panel-heading">
                        <strong>State server</strong>
                    </div>
                    <div class="panel-body">
                        <small ng-class="{connected: listenerConnected, disconnected: !listenerConnected}"><i class="fa fa-plug" aria-hidden="true"></i> Server
                            <span ng-if="listenerConnected">connected</span>
                            <span ng-if="!listenerConnected">disconnect</span>
                        </small>
                        <a href="#" ng-click="connectListener()" ng-if="!listenerConnected">refresh</a>
                        <br>
                        <small>Free space : 0.00Go</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-controller="torrentListController">
                <div class="panel">
                    <div class="panel-heading">
                        <strong><i class="fa fa-download" aria-hidden="true"></i> About my torrents</strong>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="data in torrents">
                                <torrent bind="data"></torrent>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="static/js/app.min.js"></script>
</body>
</html>