<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title text-center">Add torrent</h3>
</div>
<div class="modal-body modal-torrent-added">
    <div class="row" ng-class="{'show': step.zero, 'hide': !step.zero}">
        <div class="col-sm-4 cols-xs-6 text-center upload-choose">
            <a class="btn btn-choose-upload" ng-click="updateStep('one')">
                <i class="fa fa-upload" aria-hidden="true"></i>
                One or many torrents
            </a>
        </div>
        <div class="col-sm-4 cols-xs-6 text-center upload-choose">
            <a class="btn btn-choose-upload" ng-click="updateStep('two')">
                <i class="fa fa-compress" aria-hidden="true"></i>
                Torrent + file
            </a>
        </div>
        <div class="col-sm-4 cols-xs-4 text-center upload-choose">
            <a class="btn btn-choose-upload" ng-click="updateStep('three')">
                <i class="fa fa-file" aria-hidden="true"></i>
                Only file
            </a>
        </div>
    </div>
    <div class="row" ng-class="{'show': step.one, 'hide': !step.one}">
        <form class="col-md-12 col-xs-12">
            <label for="torrents">Torrents :</label>
            <input type="file" id="torrents" multiple onchange="angular.element(this).scope().torrentsAdded(this)">
        </form>
    </div>
    <div class="row" ng-class="{'show': step.two, 'hide': !step.two}">
        <form>
            <div class="col-md-6 col-xs-6">
                <label for="torrent">Torrent :</label><br>
                <input type="file" id="torrent" onchange="angular.element(this).scope().torrentsAdded(this)">
            </div>
            <div class="col-md-6 col-xs-6">
                <label for="data">Data :</label><br>
                <input type="file" id="data" onchange="angular.element(this).scope().filesAdded(this)">
            </div>
        </form>
    </div>
    <div class="row" ng-class="{'show': step.three, 'hide': !step.three}">
        <form>
            <div class="col-md-6 col-xs-6">
                <label for="dataalone">Data :</label>
                <input type="file" id="dataalone" multiple onchange="angular.element(this).scope().filesAdded(this)">
            </div>
            <div class="col-md-6 cols-xs-6">
                <label for="tracker">Tracker :</label><br>
                <input type="text" id="tracker" ng-model="model.tracker">
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <button type="button" class="btn btn-primary btn-block" ng-click="updateStep('zero')" ng-if="!step.zero">Previous</button>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-primary btn-block" ng-click="add()" ng-if="!step.zero">Add</button>
    </div>
</div>