<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title text-center">Add user</h3>
</div>
<div class="modal-body">
    <form>
        <label for="username">Username : </label>
        <input type="username" ng-model="userModel.username" id="username"><br>
        <label for="password">Password : </label>
        <input type="password" ng-model="userModel.password" id="password"><br>
        <label for="space">Space : </label>
        <input type="space" ng-model="userModel.space" id="space" ng-value="10"> (Go)
    </form>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-primary btn-block" ng-click="create()">Create</button>
    </div>
</div>