<html>
<head>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            background-color: #CECECE;
            text-align: center;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <section class="container">
        <div class="">
            <h1>Welcome {{ username }}</h1>
            <p>
                Subscribing is OK.<br>
                Now, you should confirm your email with <a href="{{ link }}">this link</a>
            </p>
        </div>
    </section>
</body>
</html>