<html>
<head>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            background-color: #CECECE;
            text-align: center;
            padding: 1rem;
        }
    </style>
</head>
<body>
<section class="container">
    <h1>Error {{ statusCode }}</h1>
    <p>
        {{ content }}
    </p>
    {% if link is defined %}
        <p>
            <a href="{{ link }}">Back</a>
        </p>
    {% endif %}
</section>
</body>
</html>