<html>
<head>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            background-color: #CECECE;
            text-align: center;
            padding: 1rem;
        }
    </style>
</head>
<body>
<section class="container">
    <form method="post" action="{{ link }}">
        <label for="password">New password :</label>
        <input type="password" name="password" id="password">
        <br />
        <label for="password2">Repeat password :</label>
        <input type="password" name="password2" id="password2">
        <br />
        <input type="hidden" name="token" value="{{ token }}" />
        <button type="submit">Reset</button>
    </form>
</section>
</body>
</html>