{% extends 'app.twig' %}
{% set active_page = 'dashboard' %}

{% block body %}
<section>
    <div class="row">
        <div class="col-md-8 col-xs-8">
            <div class="panel">
                <div class="panel-heading">
                    <strong>Drag and drop yout torrent's files</strong>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <!--<button class="btn btn-dtorrent" ng-click=""><i class="fa fa-plus"></i> Ajouter</button>-->
                    </div>
                    <upload
                            style="clear:both"
                            tr-action="addTorrent(torrent)"
                            user-token="'{{ user.token }}'"
                    >
                    </upload>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="panel">
                <div class="panel-heading">
                    <strong>State server</strong>
                </div>
                <div class="panel-body">
                    <small ng-class="{connected: listenerConnected, disconnected: !listenerConnected}"><i class="fa fa-plug" aria-hidden="true"></i> Server
                        <span ng-if="listenerConnected">connected</span>
                        <span ng-if="!listenerConnected">disconnect</span>
                    </small>
                    <a href="#" ng-click="connectListener()" ng-if="!listenerConnected">refresh</a>
                    <!--<br>-->
                    <!--<small>Free space : 0.00Go</small>-->
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
{% endblock %}