{% extends 'app.twig' %}

{% block header %}
<header>
    dTorrent v{{ version }} - Login
</header>
{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" ng-controller="LoginController">
            <form class="panel" ng-submit="login()">
                <div class="panel-heading">Log in</div>
                <div class="panel-body">
                    <label for="username">Username : </label><input type="text" name="username" id="username" ng-model="model.username"><br>
                    <label for="password">Password</label><input type="password" name="password" id="password" ng-model="model.password"><br>
                    <button class="btn btn-info" type="button" ng-click="login()">Login</button>
                    <p class="text-center">
                        <a href="#" ng-click="subscribe()">I wan't subscribe</a>
                    </p>
                </div>
                <div class="panel-footer text-right" >
                    <a href="#" ng-click="forgotPassword()">Forgot password ?</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}