{% extends 'app.twig' %}
{% set active_page = 'torrents' %}

{% block body %}
    <section class="container container-torrents" ng-controller="connectionListenerController">
        <div class="row">
            <div class="col-xs-12" ng-controller="torrentListController">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="pull-right">
                            <a href="#" ng-click="openAdd()" class="btn btn-dtorrent"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                        <strong><i class="fa fa-download" aria-hidden="true"></i> About my torrents</strong>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-if="torrents.length === 0">No torrents</li>
                            <li class="list-group-item" ng-repeat="data in torrents">
                                <torrent bind="data"></torrent>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}